.empty_div {
    min-height: 600px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    position: relative;
    visibility: hidden;
}

.container {
    min-height: 600px;
    max-width: 1200px;    
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 200px;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.layer img {
    max-width: 1200px;
    width: 100%;
}


.sails {
    animation: spin 6s linear infinite;
    transform-origin: center;
    position: absolute;
    display: block;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


