.empty_div {
    min-height: 600px;
    min-width: 1200px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    visibility: hidden;
}

.container {
    min-height: 600px;
    min-width: 1200px;
    max-width: 1500px;  
    margin: 0 auto;
    text-align: center;
    position: fixed;
}

.layer img {
    display: inline-block;
    position: absolute;
}


.sun {
    max-height: 200px;
    max-width: 200px;  
    top: 200px;
    transform: translate(-50%);
}

.back_clouds {
    max-width: 800px;
    top: 280px;
    left: 120px;
}

.middle_clouds {
    max-width: 800px;
    top: 480px;
    left: 380px;
}

.hill {
    max-width: 600px;
    top: 490px;
    transform: translate(50%);
}
