footer {
    position: relative;
    width: 100%;

    .footer_img {
        background: no-repeat url('../images/front_cloud.png') top center;
        background-size: 1200px;
        //margin: 0 auto;
        height: 120px;  
    }

    nav {
        width: 100%;
        height: 350px;
        top: 120px;
        background: #fff;
    }

    p {
        background: #fff; 
        margin: 0;
        text-transform: uppercase;
        @include h_font_style(20px, $violet, 400);
    }

    .copyright {
        z-index: 1;
        position: relative;
        height: 150px;
        width: 100%;
        background: #fff;
        

        p {
            top: 80px;
            margin: 0;
            display: inline-block;
            position: relative;
            text-transform: none;
            @include p_font_style(14px, $dark_grey, 300);
        }
    }
}

footer ul {
    margin: 0 auto;
    max-width: 300px;

    li {
        display: inline-block;
        width: 100px;
    
        a {
            display: inline-block;
            text-align: center;
            line-height: 40px;
            height: 40px;
            //width: 100px;
            border-radius: 2px;
            border-bottom: 2px solid #fff;
            box-sizing: border-box;
            @include p_font_style(18px, $violet, 400);
        }

        a:link {
            color: $dark_grey;
        }
                
        a:visited {
            color: $dark_grey;
        }

        a:hover {
            border-radius: 2px;
            border-bottom: 2px solid $violet;
            box-sizing: border-box;
            color: $violet;
        }
        
        a:active, a.active {
            border-radius: 2px;
            box-sizing: border-box;
            color: $violet;
            font-weight: 700;
        }
    }
}

/*.bottom_footer_wrap {
    width: 100%;
    background: #fff;

}*/
