@import "partials/_icons";

footer {
    position: relative;
    width: 100%;

    .footer_img {
        background: repeat-x url('../images/footer_cloud.png');
        background-size: 1200px;
        height: 120px;
    }

    p {
        background: #fff; 
        margin: 0;
        @include h_font_style(35px, $violet, 400);
        padding-bottom: 50px;
    }

    .copyright {
        z-index: 1;
        position: relative;
        height: 100px;
        width: 100%;
        background: #fff;
        

        p.copy {
            top: 80px;
            width: 200px;
            height: 100px;
            line-height: 100px;
            margin: 0 auto;
            display: inline-block;
            text-transform: none;
            @include p_font_style(14px, $dark_grey, 300);
            padding: 0;
        }
    }
}

/*footer ul {
    margin: 0 auto;
    max-width: 300px;

    li {
        display: inline-block;
        width: 100px;
    
        a {
            display: inline-block;
            text-align: center;
            line-height: 40px;
            height: 40px;
            //width: 100px;
            border-radius: 2px;
            border-bottom: 2px solid #fff;
            box-sizing: border-box;
            @include p_font_style(18px, $violet, 400);
        }

        a:link {
            color: $dark_grey;
        }
                
        a:visited {
            color: $dark_grey;
        }

        a:hover {
            border-radius: 2px;
            border-bottom: 2px solid $violet;
            box-sizing: border-box;
            color: $violet;
        }
        
        a:active, a.active {
            border-radius: 2px;
            box-sizing: border-box;
            color: $violet;
            font-weight: 700;
        }
    }
}*/

.bottom_footer_wrap {
    width: 100%;
    background: #fff;
    padding-top: 80px;
}


.footer_icons {
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    height: 150px;
}


