@import "partials/_icons";

footer {
    position: relative;
    width: 100%;

    .footer_img {
        background: repeat-x url('../images/footer_cloud.png');
        background-size: 1200px;
        height: 120px;
    }

    p {
        background: #fff; 
        margin: 0;
        @include h_font_style(35px, $violet, 400);
        padding-bottom: 50px;
    }

    .copyright {
        z-index: 1;
        position: relative;
        height: 100px;
        width: 100%;
        background: #fff;
        

        p.copy {
            top: 80px;
            width: 200px;
            height: 100px;
            line-height: 100px;
            margin: 0 auto;
            display: inline-block;
            text-transform: none;
            @include p_font_style(14px, $dark_grey, 300);
            padding: 0;
        }
    }
}

.bottom_footer_wrap {
    width: 100%;
    background: #fff;
    padding-top: 80px;
}


.footer_icons {
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    height: 150px;
}


@media (max-width: 800px) {
    footer p {
        font-size: 28px;
    }
    a.icon svg {
        width: 70px;
        height: 70px; 
    }
}

@media (max-width: 500px) {
    footer p {
        font-size: 24px;
    }
    a.icon {
        margin: 8px;
    }
    a.icon svg {
        width: 52px; 
        height: 52px;
    }

    .footer_icons {
        height: 80px;
    }
}

@media (max-width: 400px) {
     .footer_icons {
        height: 60px;
    }
}

