
html {
	margin: 0;	
    height: 100%;
    width: 100%;
} 

a, ul li {
	text-decoration: none;
}

h1, h2, h3, ul, ul li {
	padding: 0;
	margin: 0;
}

ul li {
    list-style-type: none;
	display: block;
}


body {
    width: 100%;
    height: 100%; 
    min-height: 100%;
    text-align: center;
    background: fixed no-repeat linear-gradient(to bottom, rgba(247,122,118, 0.7), rgba(247,122,118, 0.22) 10%, #fff 80%);
    background-repeat: repeat-x;
    background-position-y: 70px;
}

.middle_content_wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

//-------   ripple effect styles

 .waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.2);
    background: radial-gradient(255, 255, 255, 0.2) 0, 
                        rgba(255, 255, 255, 0.7) 40%, 
                        rgba(255, 255, 255, 0.4) 50%, 
                        rgba(255, 255, 255, 0.3) 60%, 
                        rgba(255, 255, 255, 0) 70%;
    transition: all 0.3s ease-out;
 }
