
html {
	margin: 0;	
    height: 100%;
    width: 100%;
} 

a, ul li {
	text-decoration: none;
}

h1, h2, h3, ul, ul li {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
	display: block;
}


body {
    width: 100%;
    text-align: center;
    background: fixed no-repeat linear-gradient(to bottom, rgba(247,122,118, 0.7), rgba(247,122,118, 0.22) 10%, #fff);
    background-repeat: repeat-x;
    background-position-y: 70px;
}

.middle_content_wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}


