.menu_btn {
    border: 3px solid #fff;
    border-radius: 10px;
    width: 180px;
    @include h_font_style(20px, #fff, 400);
    background-color: transparent;
    padding: 5px 10px;
    position: relative;
    top: 10px;
    right: 20px;
    margin: 0;
    height: 50px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.menu_bar {
    width: 100%;
    height: 70px;
    position: fixed;
    text-align: right;
    background-color: $salmon_color;
    opacity: 0.8;
    margin: 0;
    z-index: 1;
}


//------------- closed menu -----------------------------------------



.menu {

    #ham_wrap {
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        width: 55px;
        height: 50px;
        display: block;
        position: fixed;
        top: 10px;
        left: 20px;
        cursor: pointer;
        border: 3px solid $salmon_color 0.8;
        z-index: 3;

        .hamburger {
            border-top: 4px solid #fff;
            position: relative;
            top: 9px;
            width: 35px;
            display: block;
            margin: 0 auto;
        }

        .hamburger::before {
            top: 9px;
            border-top: 4px solid #fff;
            width: 35px;
            position: absolute;
            display: block;
            content: "";
        }

        .hamburger::after {
            border-top: 4px solid #fff;
            top: 21px;
            width: 35px;
            position: absolute;
            display: block;
            content: "";
        }
    }

    .side_menu {
        width: 0;
        height: 0;
        transition: all 0.6s ease;
        overflow: hidden;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100%;
        background-color: #eaeaea;
        z-index: 3;

        #x_wrap {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 10px;
            width: 35px;
            height: 40px;

            .x {
                border-top: 2px solid $violet;
                transform: rotateZ(45deg) translate(0px, 16px);
                width: 35px;
                display: block;
                opacity: 0;
                transition: opacity 0.4s ease;
            }
        
            .x::after {    
                transform: rotateZ(-90deg) translate(2px, 1px);
                border-top: 2px solid $violet;
                width: 35px;
                display: block;
                content: "";
            }
        }

        ul {
            display: block;
            margin-top: 50px;
        }    

        li {
            width: 100%;
            text-align: left;
        } 

        li > ul {
            margin-top: 0;
        }

        a {
            display: block;
            height: 45px;
            line-height: 45px;
            text-align: left;
            width: 100%;
            padding-left: 40px; 
        }

        li.menu_items {
            text-transform: uppercase;

            a {
                @include p_font_style(18px, $dark_grey, 400);
            }
        }

        li.project {
            text-transform: none;

            a {
                @include p_font_style(18px, $violet, 300);
                padding-left: 60px;
            }
        }

        a:link {
            color: $dark_grey;
        }
                
        a:visited {
            color: $dark_grey;
        }

        li a:hover {
            border-radius: 2px;
            box-sizing: border-box;
            color: #fff;
            background-color: $violet_transparent;
        }
        
        li a:active, a.active {
            border-radius: 2px;
            box-sizing: border-box;
            color: #fff;
            background-color: $violet_transparent;
            font-weight: 400;
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
    z-index: 2;
    visibility: hidden;
}


//---------- open menu -----------------------------------------------



.menu_open {

    .side_menu {
        width: 400px;

        #x_wrap .x {
            opacity: 1;
        }
    }
}

#overlay.overlay_visible {
    visibility: visible;
    pointer-events: none;
}



