@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

$h_font: 'Varela Round';
$p_font: 'Nunito';

$salmon_color: #F77A76;
$violet: #9e005d;
$violet_transparent: rgba(158, 0, 93, 0.7);
$light_grey: #bcbcbc;
$dark_grey: #373131;


@mixin h_font_style($font_size, $font_color, $font_weight) {
	font-size: $font_size;
	font-family: $h_font;
	color: $font_color;
    font-weight: $font_weight;
}

@mixin p_font_style($font_size, $font_color, $font_weight) {
	font-size: $font_size;
	font-family: $p_font;
	color: $font_color;
    font-weight: $font_weight;
}

